$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-xs: 480px;

@mixin from-sm {
  @media (min-width: $breakpoint-sm) {
    @content;
  }
}

@mixin from-md {
  @media (min-width: $breakpoint-md) {
    @content;
  }
}

@mixin until-md {
  @media (max-width: $breakpoint-md) {
    @content;
  }
}

@mixin until-xs {
  @media (max-width: $breakpoint-xs) {
    @content;
  }
}

@mixin reduced-motion {
  @media (prefers-reduced-motion: reduce) {
    @content;
  }
}
